.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  padding-top: calc(var(--tg-safe-area-inset-top, 0px) - 20px);
  padding-bottom: calc(var(--tg-safe-area-inset-bottom, 0px) + 26px);
}

.content {
  flex: 1;
}
